*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition-duration: .2s;
}
p,
h5{
  margin-bottom: 0px !important;
}
:root {
  --maine-color: #AAAAAA;
  --p-color: #717171;
  --span-color:#656565;
  --bg-color: #FFFFFF;
  --Quick-color: #242424;
  --holde-color: #2D2D2D;
}
/* Satrt Headere */
.nav_top{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
}
.contenrs_nav_top{
  display: flex;
}
.nav_top > p {
  color: var(--p-color);
  font-size: 12px;
  line-height: 23px;
}
.contenrs_nav_top div{
  padding-right: 20px;
}
.contenrs_nav_top select {
  color: var(--maine-color);
  border: 0px transparent solid;
  outline: 0px transparent solid;
}
.contenrs_nav_top div a{
  text-decoration: none;
  color: var(--maine-color);
  line-height: 23px;
  font-size: 14px;
}
.nav_center{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--bg-color);
  padding: 15px 0px;
}
.shopping_cart {
  display: flex;
  align-items: center;
}
.shopping_cart_text{
  padding-right: 10px;
  padding-left: 10px;
}
.span_one {
  font-size: 12px;
  line-height: 20px;
  color: var(--span-color);
}
.span_two {
  font-size: 15px;
  color: black;
  font-weight: bold;
  line-height: 20px;
}
.search{
  position: relative;
  display: flex;
  align-items: center;
}
#red{
  width: fit-content;
}
.search > input {
  padding: 10px;
  width: 500px;
  height: 50px;
  color: var(--maine-color);
  border: 1px solid var(--maine-color);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.search > svg {
  color: var(--maine-color);
  font-size: 14px;
  font-weight: solid;
  position: absolute;
  left: 93%;
  cursor: pointer;
}
.nav_bottom{
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  color: #2D2D2D;
  border-top: 1px #E9E9E9 solid;
  border-bottom: 1px #E9E9E9 solid;
  /* padding: 10px; */
}
.browse_bottom{
  background-color: #FFFFFF;
  padding: 0px 10px;
  border-left: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
}
.browse_bottom a{
  text-decoration: none;
  color:#2D2D2D;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
}
.browse_bottom a:hover {
  color: red !important ;
}

.browse_bottom > ul {
  color:#2D2D2D;
  background-color: #FFFFFF;
}
header > hr {
  height: 2px;
  margin: 0px 0px;
}
.main > ul {
  display: flex;
  list-style: none;
}
.main > ul > li > a {
  text-decoration: none;
  color: #2D2D2D;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
.map_nav{
  display: flex;
}
.map_nav div{
  display: flex;
  align-items: center;
}
.map_nav_two{
margin-left: 5px;
}
.map_nav div img {
  width: 30px;
  padding-left: 10px;
}
.map_nav_two h5,
.map_nav_one h5{
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  color: #2D2D2D;
}
/* End Headere */
/* Start Category */
.category{
  background-image: url("../../images/Slider.png");
  user-select: auto;
  /* width: 100%; */
  height: 370px;
  background-size: contain;
  background-repeat: no-repeat;
}
/* End Category */
/* Hover */
.nav_top a:hover {
color: #D00000;
}
.nav_bottom a:hover{
  color: #D00000;
}
.map_nav_one a{
  text-decoration: none;
}
.map_nav_one a:hover h5{
  color:#D00000;
}
.map_nav_two a{
  text-decoration: none;
}
.map_nav_two a:hover h5{
  color:#D00000;
}
.hov_nav:hover{
color: #D00000 !important;
}
/* Hover */
/* Start Sectione One */
.sc_1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #D9D9D9;
  height: 250px;
}
.sc_1 > h1 {
  font-size: 50px;
  color: #000000;
  line-height: 56px;
  font-weight: bold;
}
.sc_1 > p{
  font-size: 14px;
  color: #9B9B9B;
  font-weight: 400;
  line-height: 25px;
}

.sc_1> p > span {
  color: #2D2D2D;
}
/* End Sectione One */
/* Start Sectione Two */
.sc_2{
  padding: 100px;
}

.header_section_two{
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.header_section_two > p {
  color: #000000;
  font-size: 18px;
  line-height: 31px;
  font-weight: 500;
  position: absolute;
  left: 0;
  /* top: -30px; */
}
.links_header > a {
  text-decoration: none;
  color: #000000;
  line-height: 31px;
  font-size: 18px;
  font-weight: 500;
}
.links_header{
  display: flex;
  gap: 30px;
}
.links_header a:hover{
  color: #D00000;
}
.contenr_1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.text_cont_1{
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.text_cont_1 > p {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
  line-height: 27px;
}
#sp_1{
  font-size: 16px;
  font-weight: bold;
  line-height: 27px;
  color: #D00000;
}
#sp_2 {
  color: #9B9B9B;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
}
.two_btn{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.two_btn a{
  padding: 10px 30px;
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  border: 1px #D9D9D9 solid;
  /* padding: 5px 30px; */
  color: #2D2D2D;
  border-radius: 3px;
}
.two_btn a:hover {
  text-decoration: none;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
  background-color: #2D2D2D;
  border: 1px #D9D9D9 solid;
  /* padding: 5px 30px; */
  color: #FFFFFF;
}
#fd{
  margin-left: 10px;
}
.img_cont {
  background-image: url("../../images/product-6-4\ 2.png");
  width: 155px;
  height: 164px;
  background-size: cover;
  background-repeat: no-repeat;
}
.img_cont{
  position: relative;
}
.img_cont > img{
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -10px;
}
/* End Sectione Two */
/* start sectione footer  */
/* Start Footer */
footer a{
  text-decoration: none;
}
footer{
  background-color: #2D2D2D;
  display: flex;
  flex-direction: column;
  /* padding: 30px; */
}
.top_footer{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.center_footer{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  gap: 10px;
  flex-wrap: wrap;
}
.bottom_footer{
  display: flex;
  justify-content: space-around;
  padding: 30px;
  flex-wrap: wrap;
  gap: 10px;
}
.call{
  display: flex;
  gap: 10px;
}
.call p {
  color: #FFFFFF;
  font-size: 12px;
  line-height: 24px;
  font-weight: 600;
}
.sub p {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.sub p span {
  font-size: 14px;
  color: #B4B4B4;
  line-height: 24px;
  font-weight: 400;
}
/* input text */
#in_1 {
  color: #747474;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid #747474;
  outline: 0px transparent solid;
  width: 290px;
  padding: 10px;
  border-radius: 3px;
}
/* input sub */
#in_2{
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  line-height: 25px;
  border-radius: 3px;
  width: 170px;
  height: 60px;
  border: 0px transparent solid;
  outline: 0px transparent solid;
}
.center_footer_1_p{
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  line-height: 28px;
}
.pargraf_footer {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 35px;
}
.span_footer {
  color: #ABABAB;
  font-size: 14px;
  line-height: 35px;
  font-weight: bold;
}
.copy_ritgh p {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
}
footer hr{
  background-color: #747474;

}
.insta_img_row_1{
  margin-bottom: 5px;
}
/* End Footer */
/* Hover */
.nav_top a:hover {
color: #D00000;
}
.nav_bottom a:hover{
  color: #D00000;
}
.map_nav_one a{
  text-decoration: none;
}
.map_nav_one a:hover h5{
  color:#D00000;
}
.map_nav_two a{
  text-decoration: none;
}
.map_nav_two a:hover h5{
  color:#D00000;
}
.hov_nav:hover{
color: var(--bg-color) !important;
}
/* Hover */

/* End sectione footer  */
/* ooooooooooooooooooooooo */
.main{
  display: flex;
  align-items: center;
}
.main > ul{
  margin-bottom: 0px;
}
.main > ul > li {
  padding-right: 60px;
}
/* ooooooooooooooooooooooo */